<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :質問 %>
    <%= form.text_field :question %>
  </div>

  <div class="field">
    <%= form.label :学年 %>
    <%= form.select :grade_id, Grade.all.map{|o| [o.grade, o.id]} %>
  </div>

  <div class="field">
    <%= form.label :教科・検定 %>
    <%= form.select :subject_id, Subject.all.map{|o| [o.subjectname, o.id]} %>
  </div>

  <div class="field">
    <%= form.label :画像 %>
    <%= form.file_field :picture %>
  </div>

  <div class="field">
    <%= form.label :匿名 %>
    <%= form.check_box :nameless %>
  </div>

  <div class="field">
    <%= form.label :解決 %>
    <%= form.check_box :solve %>
  </div>

  <div class="actions">
  <form>
  <p><input class="btn-flat-simple" type="submit" value="質問する"></p>
</form>
  </div>
<% end %>
