<p id="notice"><%= notice %></p>

<h1>Q&A</h1>

<div class="search-form">
 <%= form_with(scope: :search, url: questions_path, method: :get, local: true) do |f| %>
   <div class="field">
   <div class="box2">
     <%= f.label(:search, '検索内容') %>
     <%= f.text_field :search, value: @search_params[:search] %>
     <br>
     <br>
     <%= f.label :学年 %>
     <%= f.select :grade_id, Grade.all.map{|o| [o.grade, o.id]}, :include_blank => '指定なし' %>
     <br>
     <br>
     <%= f.label :教科・検定 %>
     <%= f.select :subject_id, Subject.all.map{|o| [o.subjectname, o.id]}, :include_blank => '指定なし' %>
     <br>
     <br>
     <%= f.radio_button(:solve, :true) %>
     <%= f.label :solve, "解決", {value: :true, style: "display: inline-block;"} %>
     <%= f.radio_button(:solve, :false) %>
     <%= f.label :solve, "未解決", {value: :false, style: "display: inline-block;"} %>
     <%= f.radio_button :solve, :both, checked: true %>
     <%= f.label :solve, "両方", {value: :both, style: "display: inline-block;"} %>
     <br>
     <br>
<form>
  <p><input class="btn-flat-simple" type="submit" value="検索する"></p>
</form>
   </div>
</div>

  <% end %>

  <div class="container">
  <a href="http://localhost:3000/questions/new" class="btn-open">質問する</a>
  </div>
</div>
<br>

<table>
  <thead>
    <tr>
      <th>質問</th>
      <th>学年</th>
      <th>教科</th>
      <th>画像</th>
      <th>匿名</th>
      <th>解決</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question %></td>
        <td><%= question.grade.grade %></td>
        <td><%= question.subject.subjectname %></td>
        <td width=200>
        <% if question.picture.present? %>
          <br>
          <%= image_tag(asset_path('q&a/questions/' + question.picture), :width => '100%') %>
        <% end %>
        </td>
        <td>
          <% if question.nameless == true %>
            匿名
          <% else %>
            名前
          <% end %>
        </td>
        <td>
          <% if question.solve == true %>
            解決
          <% else %>
            未解決
          <% end %>
        </td>
        <td><%= link_to '詳細', question %></td>
        <td><%= link_to '編集', edit_question_path(question) %></td>
        <td><%= link_to '削除', question, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>