<p id="notice"><%= notice %></p>

<div class="sample08">
<h1>Question</h1>
</div>

<div class="search-form">
 <%= form_with(scope: :search, url: questions_path, method: :get, local: true) do |f| %>
   <div class="field">
   <div class="box2">
     <%= f.label(:search, '検索内容') %>
     <%= f.text_field :search, value: @search_params[:search], :size=>"30", placeholder: "検索内容を入力してください" %>
     <br>
     <br>
     <%= f.label :学年 %>
     <%= f.select :grade_id, Grade.all.map{|o| [o.grade, o.id]}, :include_blank => '指定なし' %>
     <br>
     <br>
     <%= f.label :教科・検定 %>
     <%= f.select :subject_id, Subject.all.map{|o| [o.subjectname, o.id]}, :include_blank => '指定なし' %>
     <br>
     <br>
     <%= f.radio_button(:solve, :true) %>
     <%= f.label :solve, "解決", {value: :true, style: "display: inline-block;"} %>
     <%= f.radio_button(:solve, :false) %>
     <%= f.label :solve, "未解決", {value: :false, style: "display: inline-block;"} %>
     <%= f.radio_button :solve, :both, checked: true %>
     <%= f.label :solve, "両方", {value: :both, style: "display: inline-block;"} %>
     <br>
     <br>
<form>
  <p><input class="btn-flat-simple" type="submit" value="検索する"></p>
</form>
   </div>
</div>

  <% end %>

  <div class="container">
  <a href="http://localhost:3000/questions/new" class="btn-open">質問する</a>
  </div>
</div>
<br>

<div class="sample1">
※画像をクリックで質問の詳細画面に遷移します。
</div>

<% colNum = 0 %>
<table>
  <tbody>
    <% @questions.first(15).each do |question| %>
      <% colNum = colNum + 1%>
      <% if colNum == 4 %>
      </tr>
      <tr>
      <%  colNum = 1 %>
      <% end %>
      <td width="30%">
        <table>
          <tr>
          <td>
          <% if question.picture.present? %>
            <br>
            <%= link_to image_tag(asset_path('q&a/questions/' + question.picture), :width => '100%',), question %>
          <% end %>
          </td>
          </tr>
          <tr>
          <td width="100%">
            <% if question.nameless == true %>
              匿名
            <% else %>
              <%= question.user.name %>
            <% end %>
            <br>
            <%= question.question %>
            <br>
            <%= question.grade.grade %>
            <br>
            <%= question.subject.subjectname %>
            <br>
            <% if question.solve == true %>
              解決
            <% else %>
              未解決
            <% end %>
          </td>
          </tr>
        </table>
      </td>
    <% end %>
  </tbody>
</table>