<p id="notice"><%= notice %></p>

<div class="sample08">
<h1>質問一覧</h1>
</div>

<div class="search-form">
 <%= form_with(scope: :search, url: questions_path, method: :get, local: true) do |f| %>
   <div class="field">
   <div class="box2">
     <%= f.label(:search, '検索内容') %>
     <%= f.text_field :search, value: @search_params[:search], :size=>"30", placeholder: "検索内容を入力してください" %>
     <br>
     <br>
     <%= f.label :学年 %>
     <%= f.select :grade_id, Grade.all.map{|o| [o.grade, o.id]}, :include_blank => '指定なし' %>
     <br>
     <br>
     <%= f.label :教科・検定 %>
     <%= f.select :subject_id, Subject.all.map{|o| [o.subjectname, o.id]}, :include_blank => '指定なし' %>
     <br>
     <br>
     <%= f.radio_button(:solve, :true) %>
     <%= f.label :solve, "解決", {value: :true, style: "display: inline-block;"} %>
     <%= f.radio_button(:solve, :false) %>
     <%= f.label :solve, "未解決", {value: :false, style: "display: inline-block;"} %>
     <%= f.radio_button :solve, :both, checked: true %>
     <%= f.label :solve, "両方", {value: :both, style: "display: inline-block;"} %>
     <br>
     <br>
<form>
  <p><input class="btn-flat-simple" type="submit" value="検索する"></p>
</form>
   </div>
</div>

  <% end %>

  <div class="container">
  <a href="http://localhost:3000/questions/new" class="btn-open">質問する</a>
  </div>
</div>
<br>

<table>

  <tbody>
    <% @questions.each do |question| %>
      <td width='30%'>
        <table>
          <tr>
          <td width=200>
          <% if question.picture.present? %>
            <br>
            <%= image_tag(asset_path('q&a/questions/' + question.picture), :width => '100%') %>
          <% end %>
          </td>
          </tr>

          <tr>
          <td>
            <% if question.nameless == true %>
              匿名
            <% else %>
              <%= question.user.name %>
            <% end %>
            <%= question.question %>
            <%= question.grade.grade %>
            <%= question.subject.subjectname %>
            <% if question.solve == true %>
              解決
            <% else %>
              未解決
            <% end %>
          </tr>
        </table>
      </td>
    <% end %>
  </tbody>
</table>