<p id="notice"><%= notice %></p>

<h1>Q&A</h1>

<table>
  <thead>
    <tr>
      <th>質問</th>
      <th>学年</th>
      <th>教科</th>
      <th>画像</th>
      <th>匿名</th>
      <th>解決</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question %></td>
        <td><%= question.grade %></td>
        <td><%= question.subject.subjectname %></td>
        <td width=200>
        <% if question.picture.present? %>
          <br>
          <%= image_tag(asset_path('q&a/questions/' + question.picture), :width => '100%') %>
        <% end %>
        </td>
        <td>
          <% if question.nameless == true %>
            匿名
          <% else %>
            名前
          <% end %>
        </td>
        <td>
          <% if question.solve == true %>
            解決
          <% else %>
            未解決
          <% end %>
        </td>
        <td><%= link_to '詳細', question %></td>
        <td><%= link_to '編集', edit_question_path(question) %></td>
        <td><%= link_to '削除', question, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '質問する', new_question_path %>
<br>
<br>
<a href = 'http://localhost:3000/notes' >ノート </a>
<br>
<a href = 'http://localhost:3000/chat/show' >チャット </a>