<p id="notice"><%= notice %></p>

<div class="sample08">
<h1>質問内容</h1>
</div>

<%= link_to '編集', edit_question_path(@question), class: 'btn-flat-border' %> |
<%= link_to '質問一覧', questions_path, class: 'btn-flat-border' %>

<h4>
<p>
  <span class="text"><strong>質問者&nbsp;&nbsp;</strong></span>
  <td>
  <span class="form-text">
  <% if @question.nameless == true %>
    匿名
  <% else %>
    <%= current_user.name %>
  <% end %>
  </span>
</td>
</p>

<p>
  <span class="text"><strong>質問&nbsp;&nbsp;&nbsp;&nbsp;</strong></span>
  <span class="form-text"><%= @question.question %></span>
</p>

<p>
  <span class="text"><strong>学年&nbsp;&nbsp;&nbsp;&nbsp;</strong></span>
  <span class="form-text"><%= @question.grade.grade %></span>
</p>

<p>
  <span class="text"><strong>教科&nbsp;&nbsp;&nbsp;&nbsp;</strong></span>
  <span class="form-text"><%= @question.subject.subjectname %></span>
</p>

<p>
  <span class="text"><strong>画像&nbsp;&nbsp;&nbsp;&nbsp;</strong></span>
  <% if @question.picture.present? %>
    <br>
    <%= image_tag(asset_path('q&a/questions/' + @question.picture), :width => '30%') %>
  <% end %>
</p>

<p>
  <span class="text"><strong>解決/未解決&nbsp;&nbsp;&nbsp;&nbsp;</strong></span>
  <td>
  <span class="form-text">
  <% if @question.solve == true %>
    解決
  <% else %>
    未解決
  <% end %>
  </span>
</td>
</p>

<p><span class="text"><b>返信</b></span></p>
<%= form_tag('/answers') do %>
<%= hidden_field :answer, :question_id, :value => @question.id %>
  <%= text_field :answer, :answer, :size=>"30", placeholder: "返信内容を入力してください" %>
  <form style="display: inline"><p><input class="btn-flat-simple" type="submit" value="返信する"></p></form>
<% end %>

<% @question.answers.each do |c| %>
  <p>
  <span class="form-text">
  <%= c.created_at.strftime("%Y-%m-%d %H:%M") %>
  <br>
  <%= c.answer %>
  </span>
  </p>
<% end %>
</h4>