<p id="notice"><%= notice %></p>

<p>
  <strong>質問:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>学年:</strong>
  <%= @question.grade.grade %>
</p>

<p>
  <strong>教科:</strong>
  <%= @question.subject.subjectname %>
</p>

<p>
  <strong>画像:</strong>
  <% if @question.picture.present? %>
    <br>
    <%= image_tag(asset_path('q&a/questions/' + @question.picture), :width => '100%') %>
  <% end %>
</p>

<p>
  <strong>匿名:</strong>
  <td>
  <% if @question.nameless == true %>
    匿名
  <% else %>
    名前
  <% end %>
</td>
</p>

<p>
  <strong>解決:</strong>
  <td>
  <% if @question.solve == true %>
    解決
  <% else %>
    未解決
  <% end %>
</td>
</p>

<p><b>返信</b></p>
<%= form_tag('/answers') do %>
<%= hidden_field :answer, :question_id, :value => @question.id %>
  <p>
  <%= text_field :comment, :comment %>
  <%= submit_tag "返信する" %>
  </p>
<% end %>

<% @question.answers.each do |c| %>
  <p>
  <%= c.created_at %>
  <br>
  <%= c.comment %>
  </p>
<% end %>

<%= link_to '編集', edit_question_path(@question) %> |
<%= link_to '一覧', questions_path %>
