<h1 style="text-align:center;">ログイン</h1>
<div class="login-container" style="text-align:center;">
  <div class="login_form">
    <%= form_for(:session, url:login_path ) do |f| %>
      <% if flash[:error_messages] %>
        <div class="alert alert-danger">
          <ul>
            <% if flash[:error_messages].each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
      <div>
        <%= f.label :ユーザＩＤ %>
        <%= f.text_field :userid, class: 'form-control' %>
        <%= f.label :パスワード %>
        <%= f.password_field :password, class: 'form-control' %>
        <br>
        <br>
        <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
    <h4><a href="http://localhost:3000/notes">ゲストとして利用する</a></h4>
  </div>
</div>