<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h4>
<div class="form-text">
<div class="form-text">
  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title, :size=>"30", placeholder: "タイトルを入力してください" %>
  </div>

  <div class="field">
    <%= form.label :表紙 %>
    <%= form.file_field :coverpicture %>
  </div>
  
  <div class="field">
  <%= form.label :ノート %>
  <%= form.file_field :picture %>
</div>


  <div class="field">
    <%= form.label :学年 %>
    <%= form.select :grade_id, Grade.all.map{|o| [o.grade, o.id]} %>
  </div>

  <div class="field">
    <%= form.label :教科・検定 %>
    <%= form.select :subject_id, Subject.all.map{|o| [o.subjectname, o.id]} %>
  </div>

  <div class="field">
    <%= form.label :補足 %>
    <%= form.text_field :extra, :size=>"30", placeholder: "補足内容を入力してください" %>
  </div>

  <!--
  <div class="field">
    <%= form.label :いいね %>
    <%= form.text_field :good %>
  </div>
  -->

  <div class="field">
    <%= form.label :公開する %>
    <%= form.check_box :release %>
  </div>

  <div class="actions">
  <form>
  <p><input class="btn-flat-simple" type="submit" value="ノートを作る"></p>
  </form>
  </div>
</div>
</h4>
</div>
<% end %>
