<p id="notice"><%= notice %></p>

<div class="sample08">
<h1>ノート一覧</h1>
</div>

<div class="container">
<a href="http://localhost:3000/notes/new" class="btn-open">ノートを作る</a>
</div>

<table style="border-collapse: collapse" width="640" height="480">

  <tbody>
    <% @notes.each do |note| %>
      
      <td>
        <body>
          <ul>
          <li>
            <% if note.coverpicture.present? %>
            <br>
            <div class="img_wrap">
            <a href="#"><%= image_tag(asset_path('notes/cover/' + note.id.to_s + '/' + note.coverpicture), :width => '100%') %></a>
            </div>
            <% end %>
          </li>
          </ul>
          <ul>
          <li>
            <%= note.title %><br>
            <%= note.user.name %><br>
            <%= note.grade.grade %><br>
            <%= note.subject.subjectname %><br>
            <%= note.good %>
          </li>
          </ul>
        </body>
        <td><%= link_to '詳細', note, class: "btn-flat-border" %></td> 
      </td>

    <% end %>
  </tbody>
</table>
