<p id="notice"><%= notice %></p>

<h1>ノート一覧</h1>

<table border="1" style="border-collapse: collapse">
  <thead>
    <tr>
      <th>投稿者</th>
      <th>タイトル</th>
      <th width=120>表紙</th>
      <th width=120>ノート</th>
      <th>学年</th>
      <th>教科</th>
      <th>補足</th>
      <th>いいね</th>
      <th>公開情報</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
      <td><%= note.user.name %></td>
        <td><%= note.title %></td>
        <td width=120>
        <% if note.coverpicture.present? %>
          <br>
          <%= image_tag(asset_path('notes/cover/' + note.coverpicture), :width => '100%') %>
        <% end %>
        <td width=120>
        <% if note.picture.present? %>
          <br>
          <%= image_tag(asset_path('notes/contents/' + note.picture), :width => '100%') %>
        <% end %>
        </td>
        </td>
        <td><%= note.grade.grade %></td>
        <td><%= note.subject.subjectname %></td>
        <td><%= note.extra %></td>
        <td><%= note.good %></td>
        <td><%= note.release %></td> 
        <td><%= link_to '詳細', note %></td>  
        <td><%= link_to '編集', edit_note_path(note) %></td>
        <td><%= link_to '削除', note, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to '新しいノート', new_note_path %>
