<h1>ノート内容</h1>

<p id="notice"><%= notice %></p>

<%= link_to '編集', edit_note_path(@note), class: "btn-flat-border" %> |
<%= link_to 'ノート一覧', notes_path, class: "btn-flat-border" %>

<p>
  <strong>投稿者:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>ノート:</strong>
  <% if @note.picture.present? %>
    <br>
    <%= image_tag(asset_path('notes/contents/' + @note.picture), :width => '30%') %>
  <% end %>
</p>

<p>
  <strong>表紙:</strong>
  <% if @note.coverpicture.present? %>
    <br>
    <%= image_tag(asset_path('notes/cover/' + @note.coverpicture), :width => '30%') %>
  <% end %>
</p>

<p>
  <strong>学年:</strong>
  <%= @note.grade.grade %>
</p>

<p>
  <strong>教科:</strong>
  <%= @note.subject.subjectname %>
</p>

<p>
  <strong>補足:</strong>
  <%= @note.extra %>
</p>

<p>
  <strong>いいね:</strong>
  <%= @note.good %>
</p>

<p>
  <strong>公開:</strong>
  <td>
  <% if @note.release == true %>
    公開
  <% else %>
    非公開
  <% end %>
</td>
</p>
