<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @group.id %>
</p>

<p>
  <strong>グループ名:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>アイコン:</strong>
  <%= @group.icon %>
</p>

<p>
  <strong>管理者名:</strong>
  <%= @group.user_id %>
</p>

<p>
  <strong>公開設定:</strong>
  <%= @group.release %>
</p>

<%= link_to '編集', edit_group_path(@group), class: "btn-flat-border" %> |
<%= link_to 'グループ一覧', groups_path, class: "btn-flat-border" %> 
