<p id="notice"><%= notice %></p>

<div class="sample08">
<h1>Contents of Group</h1>
</div>

<%= link_to '編集', edit_group_path(@group), class: "btn-flat-border" %> |
<%= link_to 'グループ一覧', groups_path, class: "btn-flat-border" %> 

<h4>
<p>
<span class="text"><strong>ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></span>
<span class="form-text"><%= @group.id %></span>
</p>

<p>
<span class="text"><strong>グループ名&nbsp;</strong></span>
<span class="form-text"><%= @group.name %></span>
</p>

<p>
<span class="text"><strong>アイコン&nbsp;&nbsp;&nbsp;</strong></span>
<span class="form-text"><% if @group.icon.present? %></span>
    <br>
    <%= image_tag(asset_path('groups/icons/' + @group.icon), :width => '30%') %>
  <% end %>
</p>

<p>
<span class="text"><strong>管理者名&nbsp;&nbsp;&nbsp;</strong></span>
<span class="form-text"><%= @group.user_id %></span>
</p>

<p>
<span class="text"><strong>公開設定&nbsp;&nbsp;&nbsp;</strong></span>
  <td>
  <% if @group.release == true %>
    <span class="form-text">公開</span>
  <% else %>
    <span class="form-text">非公開</span>
  <% end %>
</td>
</p>
</h4>
