<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h4>
<div class="form-text">
  <div class="field">
    <%= form.label :ユーザーID %>
    <%= form.text_field :userid %>
  </div>

  <div class="field">
    <%= form.label :ユーザー名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :アイコン %>
    <%= form.file_field :icon %>
  </div>

  <div class="field">
    <%= form.label :コメント・自己紹介 %>
    <%= form.text_field :introduce %>
  </div>

  <div class="field">
    <%= form.label :パスワード %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :公開情報 %>
    <%= form.check_box :release %>
  </div>

  <div class="actions">
  <form>
  <p><input class="btn-flat-simple" type="submit" value="変更する"></p>
  </form>
  </div>
</h4>
</div>
<% end %>
</style>
