<p id="notice"><%= notice %></p>

<div class="sample08">
<h1>ユーザー情報</h1>
</div>

<%= link_to 'プロフィール画面へ', mypage_profile_path, class: "btn-flat-border" %>

<h4>
<p>
  <span class="text"><strong>クラス:</strong></span>
  <span class="form-text"><%= @user.classroom_id %></span>
</p>

<p>
  <span class="text"><strong>ユーザID:</strong></span>
  <span class="form-text"><%= @user.userid %></span>
</p>

<p>
  <span class="text"><strong>名前:</strong></span>
  <span class="form-text"><%= @user.name %></span>
</p>

<% if @user.icon.present? %>
<p>
  <span class="text"><strong>アイコン:</strong></span>
</p>
<% end %>

<p>
  <span class="text"><strong>コメント・自己紹介:</strong></span>
  <br>
  <span class="form-text"><%= @user.introduce %></span>
</p>

<% if false %>
<p>
  <span class="text"><strong>パスワード:</strong></span>
  ーーーーーーーーーー
</p>
<% end %>

<p>
  <span class="text"><strong>公開情報:</strong></span>
  <% if @user.release == true %>
    <span class="form-text">公開</span>
  <% else %>
    <span class="form-text">非公開</span>
  <% end %>
</p>
</h4>
