<p id="notice"><%= notice %></p>

<div class="sample08">
<h1>ユーザー情報</h1>
</div>

<%= link_to 'プロフィールを編集', mypage_edit_path(@user), class: "btn-flat-border" %>
<%= link_to 'プロフィール画面へ', mypage_profile_path, class: "btn-flat-border" %>

<h4>
<p>
  <span class="text"><strong>クラス:</strong></span>
  <%= @user.classroom_id %>
</p>

<p>
  <span class="text"><strong>ユーザID:</strong></span>
  <%= @user.userid %>
</p>

<p>
  <span class="text"><strong>名前:</strong></span>
  <%= @user.name %>
</p>

<% if @user.icon.present? %>
<p>
  <span class="text"><strong>アイコン:</strong></span>
  <%= image_tag(asset_path('mypage/icons/' + @user.icon)) %>
</p>
<% end %>

<p>
  <span class="text"><strong>コメント・自己紹介:</strong></span>
  <br>
  <%= @user.introduce %>
</p>

<p>
  <span class="text"><strong>パスワード:</strong></span>
  ーーーーーーーーーー
</p>

<p>
  <span class="text"><strong>公開情報:</strong></span>
  <% if @user.release == true %>
    公開
  <% else %>
    非公開
  <% end %>
</p>
</h4>
