<p id="notice"><%= notice %></p>

<p>
  <strong>クラス:</strong>
  <%= @user.classroom_id %>
</p>

<p>
  <strong>ユーザID:</strong>
  <%= @user.userid %>
</p>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>アイコン:</strong>
  <%= @user.icon %>
</p>

<p>
  <strong>コメント・自己紹介:</strong>
  <%= @user.introduce %>
</p>

<p>
  <strong>パスワード:</strong>
  ーーーーーーーーーー
</p>

<p>
  <strong>公開情報:</strong>
  <% if @user.release == true %>
    公開
  <% else %>
    非公開
  <% end %>
</p>

<%= link_to 'プロフィールを編集', mypage_edit_path(@user) %>
<%= link_to 'プロフィール画面へ', mypage_profile_path %>
