<h1><%= @group_name %></h1>
<h3>Google Chromeでログインしている方はリロードしてください</h3>

  <div id="target" class="line__container">
      <div id="messages" class="line__contents scroll">
      <% @messages.each do |message| %>
        <% if message.user_id.to_i == @user_id then %>
        <div class="line__right">
          <div class="line__right-text">
            <div class="text">
              <%= message.body %>
            </div>
          </div>
        </div>
        <% else %>
        <div class="line__left">
          <div class="line__left-text">
            <div class="text">
              <%= message.body %>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
      </div>  
  </div>
  <form>  
      <label>投稿内容: </label>
      <input type="text" data-behavior="chat_input" id="chat_input"/>
      <input type="hidden" value="<%= @group_id %>" id="group_id"/>
      <input type="hidden" value="<%= @user_id %>" id="user_id"/>
      <input type="hidden" value="<%= @user_name %>" id="user_name"/>
      <input type="submit" value="投稿する" onClick="postMessage()"/>
  </form>


