 
<%= form_for(@user) do |f| %>
 <div class="field">
    <%= f.label :ユーザ名 %>
    <%= f.text_field :name, :size=>"35", placeholder: "ユーザー名を入力してください" %>
  </div>

  <div class="field">
    <%= f.label :アイコン %>
    <%= f.file_field :icon %>
  </div>

  <div class="field">
    <%= f.label :自己紹介・コメント %>
    <%= f.text_field :introduce, :size=>"35", placeholder: "自己紹介・コメントを入力してください" %>
  </div>

  <div class="field">
    <%= f.label :公開情報 %>
プロフィール情報を公開する
    <%= f.check_box :release %>
  </div>

  <div class="actions">
  <form>
  <p><input class="btn-flat-simple" type="submit" value="更新する"></p>
  </form>
  </div>

<% end %>
