<div class="sample08">
<h1>パスワードを変更する</h1>
</div>

<%= form_for(@user, url: 'passwordequal') do |f| %>
    
  <% if flash[:alart] %>
  <div class="alert alert-danger">
    <h4><%= flash[:alart] %></h4>
  </div>
  <% end %>

<div class="field" style="text-align:center;">
<h1>ユーザID</h1>
<br>
<h1><%= @user.userid %></h1>
</div>

<br>

<div class="field" style="text-align:center;">
<%= f.label :現在のパスワードを入力してください %>
<br>
<%= f.password_field :password %>
</div>

<div class="actions" style="text-align:center;">
<form>
<p><input class="btn-flat-simple" type="submit" value="次へ"></p>
</form>
</div>

<% end %>
