<%= form_for(@user, url: 'editcheck') do |f| %>

<div class="field" style="text-align:center;">
<h5>ユーザID</h5>
<h3><%= @user.userid %></h3>
<h5>名前</h5>
<h3><%= @user.name %></h3>
</div>

<br>

<div class="field" style="text-align:center;">
<%= f.label :新しいパスワードを入力してください %>
<br>
<%= f.password_field :password %>
</div>

<div class="field" style="text-align:center;">
<%= f.label :確認のためもう一度入力してください %>
<br>
<%= f.password_field :subpassword %>
</div>



<div class="actions" style="text-align:center;">
<%= f.submit '変更' %>
</div>

<% end %>