<% if @user.nil? %>
  <h4>現在ゲストとして利用中です。
  マイページを利用する際は<a href="http://localhost:3000/login">ログイン</a>してください。</h4>
<% else %>

<div class="sample08">
<h1>プロフィール</h1>
</div>

<td width="100%">
<div class="box">
<div class="image">
  <% if @user.icon.present? %>
    <%= link_to image_tag(asset_path('mypage/icons/' + @user.id.to_s + '/' + @user.icon), :width => '100%') %>
  <% end %>
</div>
</div>
</td>

<h4>
<p>
<span class="form-text"><%= + @user.name %></span>
</p>

<p><span class="text">ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="form-text"><%= + @user.userid %></span></p>

<% if @user.classroom_id.blank? %>
<p><span class="text">所属&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="form-text">なし</span></p>
<% else %>
<p><span class="text">所属&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="form-text"><%= + @user.classroom.grade.to_s + '年' + @user.classroom.classname %></span></p>
<% end %>

<p><span class="text">コメント・自己紹介</span></p>
<p>&nbsp;<span class="form-text"><%= + @user.introduce %></span></p>

<% if @user.release == true %>
<p><span class="text">公開情報&nbsp;</span><span class="form-text">公開</span></p>
<% else %>
<p><span class="text">公開情報&nbsp;</span><span class="form-text">非公開</span></p>
<% end %>

<p><span class="text">パスワード</span></p>
<p>&nbsp;<span class="form-text">-----------------------</span></p>

<br>
<br>
<br>
<br>
<br>
<br>
</h4>

<h5><p><span class="form-text">ノート数</span></p>
<p><span class="form-text">総いいね数</span></p>
<p><span class="form-text">Ｑ&Ａ回答数</span></p>
<p><span class="form-text">ベストアンサー数</span></p>

<td><%= link_to 'プロフィール編集', edit_user_path(@user.id), class: "btn-flat-border" %></td>
<td><%= link_to 'パスワードを変更する', mypage_passwordcheck_path(@user.id), class: "btn-flat-border" %></td>
</h5>

<% end %>