<!DOCTYPE html>
<html>
  <head>
    <title>Check</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Check</h1>
    <link rel="stylesheet" href="application.css" type="text/css">
    <h2><a href="http://localhost:3000/notes">ノート</a>
    <a href="http://localhost:3000/chat/show">チャット</a>
    <a href="http://localhost:3000/questions">Q&A</a>
    <a href="http://localhost:3000/mypage/profile">マイページ</a></h2>
    <%= yield %>
  </body>
</html>
