<!DOCTYPE html>
<html>
  <head>
    <title>Check</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  
    <div class="title">
    <h1>Check</h1>
    </div>
    <div class="header">
    <link rel="stylesheet" href="application.css" type="text/css">
    <h2><a href="http://localhost:3000/notes" class="btn-border">ノート</a>
    <a href="http://localhost:3000/groups" class="btn-border">チャット</a>
    <a href="http://localhost:3000/questions" class="btn-border">Q&A</a>
    <a href="http://localhost:3000/mypage/profile" class="btn-border">マイページ</a></h2>
    </div>
    <hr>
    <%= yield %>
  </body>
</html>
